/* static/style.css */

body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.text {
    margin: 20px;
}
